<md-dialog>
    <md-dialog-content class="md-padding">
        <form>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Caption</label>
                    <input ng-model="customer.caption" placeholder="Caption">
                </md-input-container>
                {{ customer.caption }}
            </div>
            <div layout="row">

                <md-input-container flex>
                    <!--<label>Select your file</label>-->
                    <input type="file" file-model="customer.file">
                </md-input-container>
                <div>
                    <md-button class="md-fab md-mini">
                        <md-icon class="material-icons">attach_file</md-icon>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel</md-button>
        <md-button ng-click="uploadFile()" class="md-primary"> Save</md-button>
    </div>
</md-dialog>