<md-dialog>
    <md-dialog-content class="md-padding">
        <form name="add_post" novalidate>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Caption</label>
                    <input ng-model="customer.caption" name="caption" placeholder="Caption (required)" required>
                </md-input-container>
            </div>
            <div layout="row">
                <div class="file_input_div">
                    <div class="file_input">
                      <label class="mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">file_upload</i>
                        <md-input-container class="none">
                            <input id="file_input_file"  type="file" file-model="customer.file"/>
                        </md-input-container>
                      </label>
                    </div>
                    <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
                      <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />
                      <label class="mdl-textfield__label" for="file_input_text"></label>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions no-border" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel</md-button>
        <md-button ng-click="uploadFile()" class="md-primary" ng-disabled="add_post.$invalid">Save</md-button>
    </div>
</md-dialog>