<div class="board">
    <div class="logo">
        <h4>{{board_name}}</h4>
    </div>
    <div class="post">
        <div class="content parent">
            <img class="" src="http://www.youloveit.ru/uploads/posts/2014-03/1396107096_tumblr_n1pvsl84571qfpbhro2_1280.jpg">
        </div>
        <div class="description">
            <span>
                asdmalkdmadm.sadasdkamsdlksamdlasmdl.sadd
            </span>
        </div>
        <md-button class="md-fab" arial-label="Add" ng-click="addPost()">
            <i class="material-icons">chat_bubble</i>
        </md-button>
        <div class="evalution"></div>
    </div>
    <md-button class="md-fab" arial-label="Add" ng-click="showAdd()">
        <md-icon class="material-icons plus">add</md-icon>
    </md-button>
</div>