<div class="mdl-grid board">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <!--<div class="board-logo">-->
        <!--<h4>{{board_name}}</h4>-->
    <!--</div>-->
    <div  class="mdl-grid" dir-paginate="post in posts  | itemsPerPage: 3">
        <!--<div class="mdl-cell mdl-cell&#45;&#45;3-col mdl-cell&#45;&#45;3-col-tablet mdl-cell&#45;&#45;3-col-phone"></div>-->
        <div class="post mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
            <!--<div class="panel-post" ng-if="changePost.indexOf(post._id) > -1 || userRole === 'admin'" ng-controller="deletePostController">-->
            <!--<md-button class="edit-post" ng-click="editPost(post._id)">-->
            <!--<md-icon class="material-icons">mode_edit</md-icon>-->
            <!--</md-button>-->
            <!--<md-button ng-click="deletePost(post._id)">-->
            <!--<md-icon class="material-icons">clear</md-icon>-->
            <!--</md-button>-->
            <!--</div>-->
            <div class="post-image" ng-switch="post.type_file.split('/')[0]" ng-if="changePost.indexOf(post._id) > -1 || userRole === 'admin'" ng-controller="deletePostController">
                <md-button class="edit-post" ng-click="editPost(post._id)">
                <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
                <md-button ng-click="deletePost(post._id)">
                <md-icon class="material-icons">clear</md-icon>
                </md-button>
                <img ng-switch-when="image" src="{{post.file}}">
                <div ng-switch-when="video">
                    <video width="320" height="240"  controls>
                        <source src="{{post.file}}" type="{{post.type_file}}">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div ng-switch-when="audio">
                    <audio controls>
                        <source src="{{post.file}}" type="{{post.type_file}}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
            <div class="description">
                <span>
                   {{post.caption}}
                </span>
                <!--<md-button class="md-fab add-comment" arial-label="Add" ng-click="addPostForm =! addPostForm">-->
                <!--<md-icon class="material-icons chat-bubble">chat_bubble</md-icon>-->
                <!--</md-button>-->
            </div>
            <div class="post-action mdl-grid">
                <div class="likes mdl-cell  mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone" ng-controller="likeController">
                    <progress value="{{Math.round(100/(post.user_like.length + post.user_dislike.length) * post.user_like.length)}}" max="100"></progress>
                    <div>
                        <md-button ng-click="like(post._id)">
                            <md-icon class="material-icons">thumb_up</md-icon>
                            <span>{{ post.user_like.length }}</span>
                        </md-button>
                        <md-button ng-click="dislike(post._id)">
                            <md-icon class="material-icons">thumb_down</md-icon>
                            <span>{{ post.user_dislike.length }}</span>
                        </md-button>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                    <button class="read-more mdl-button mdl-js-button mdl-button--raised" type="button">
                        <a ui-sref="user.post({id: post._id})">Reade More</a>
                    </button>
                </div>
            </div>
            <!--<md-button class="md-fab md-mini" ng-click="getComments(post._id)" ng-show="comments">-->
            <!--<md-icon class="material-icons">keyboard_arrow_down</md-icon>-->
            <!--</md-button>-->

        </div>
    </div>


    <br>
    <div class="paginate">
        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
    </div>

    <div ng-controller="addPostController" class="add-post">
        <div ng-show="error" class="alert alert-danger login-error">{{errorMessage}}</div>
        <h3 id="reply-title" class="comment-reply-title">Add post</h3>
        <!--<div id="comments" class="comments-area">-->

            <!--<div id="respond" class="comment-respond">-->
                <!--<h3 id="reply-title" class="comment-reply-title">Leave a Comment <small>-->
                    <!--<a rel="nofollow" id="cancel-comment-reply-link" href="/demo/materialkitwp/2016/07/28/demo-post/#respond" style="display:none;">Cancel reply</a>-->
                <!--</small></h3>				-->
                <!--<form action="http://mvpwp.com/demo/materialkitwp/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>-->
                <!--<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p> <div class="form-group"><label for="comment">Comment</label><textarea class="form-control" rows="10" id="comment" name="comment" aria-required="true"></textarea></div><div class="form-group"><label for="author">Name</label> <span class="required">*</span><input class="form-control" id="author" name="author" type="text" value="" size="30" aria-required='true' /></div>-->
                <!--<div class="form-group"><label for="email">Email</label> <span class="required">*</span><input class="form-control" id="email" name="email" type="text" value="" size="30" aria-required='true' /></div>-->
                <!--<div class="form-group"><label for="url">Website</label><input class="form-control" id="url" name="url" type="text" value="" size="30" /></div>-->
                <!--<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='24' id='comment_post_ID' />-->
                    <!--<input type='hidden' name='comment_parent' id='comment_parent' value='0' />-->
                <!--</p>				-->
                <!--</form>-->
            <!--</div>&lt;!&ndash; #respond &ndash;&gt;-->

        <!--</div>&lt;!&ndash; #comments &ndash;&gt;-->

        <form name="add_post" novalidate>
            <div layout layout-sm="column" class="wrap-textarea">
                <md-input-container flex>
                    <label>Caption</label>
                    <textarea md-maxlength="150" rows="3" md-select-on-focus="" ng-model="customer.caption" name="caption" placeholder="Caption (required)" required></textarea>
                </md-input-container>
            </div>
            <div class="file_input">
                <label spinner-start-active="true" ng-click="startSpin()" class="mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">file_upload</i>
                    <md-input-container class="none">
                        <input id="file_input_file"  type="file" file-model="customer.file"/>
                    </md-input-container>
                </label>
            </div>
            <span us-spinner spinner-key="spinner" class="spinner"></span>
        </form>
            <md-button ng-click="uploadFile(null, posts)" class="md-accent md-raised save-btn" ng-disabled="add_post.$invalid">Save</md-button>
    </div>
    </div>
</div>


