<div class="login col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
  </br>
  <div class="form_header parent">
    <div class="logo">
      <img src="/image/default-avatar.png">
    </div>
  </div>
  <form class="form form-signin" name="form_login" novalidate>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <md-input-container class="md-block">
      <label>Username</label>
      <input name="username" ng-model="username" required>
      <div ng-messages="form_login.username.$error" role="alert">
        <div ng-message="required" class="form-error">Username is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>
      <input name="password" type="password" ng-model="password" required>
      <div ng-messages="form_login.password.$error" >
        <div ng-message="required">Password is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Remember me:</label>
      <md-switch name="remember" ng-model="remember" class="remember"></md-switch>
    </md-input-container>

    <md-button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-form" ng-disabled="form_login.$invalid" ng-click="login()">Sign in</md-button>
  </form>
  <div class="link_register">
    <span>Don't have an account?</span>
    <a ng-click="showRegister()">Create one!</a>
  </div>
</div>



<!--<div class="login child both">-->
  <!--<div class="form_header parent">-->
    <!--<div class="child both logo">-->
      <!--<img src="/image/default-avatar.png" class="child both">-->
    <!--</div>-->
  <!--</div>-->
  <!--<div>-->
    <!--<form class="form form-signin" name="form_login" novalidate>-->
    <!--<div ng-show="error" class="alert alert-danger login-error">{{errorMessage}}</div>-->
      <!--<md-input-container class="md-block">-->
        <!--<label>Username</label>-->
        <!--<input name="username" ng-model="username" required>-->
        <!--<div ng-messages="form_login.username.$error" role="alert">-->
          <!--<div ng-message="required" class="form-error">Username is required.</div>-->
        <!--</div>-->
      <!--</md-input-container>-->

      <!--<md-input-container class="md-block">-->
        <!--<label>Password</label>-->
        <!--<input name="password" type="password" ng-model="password" required>-->
        <!--<div ng-messages="form_login.password.$error" >-->
        <!--<div ng-message="required">Password is required.</div>-->
        <!--</div>-->
      <!--</md-input-container>-->

      <!--<md-input-container class="md-block">-->
          <!--<label>Remember me:</label>-->
          <!--<md-switch name="remember" ng-model="remember" class="remember"></md-switch>-->
        <!--</md-input-container>-->

      <!--<md-button type="submit" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored btn-form" ng-disabled="form_login.$invalid" ng-click="login()">Sign in</md-button>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="link_register col-md-4">-->
  <!--<span>Don't have an account?</span>-->
  <!--<a ng-click="showRegister()">Create one!</a>-->
<!--</div>-->

