<div class="login child">
  <div class="form_header parent">
    <div class="child logo">
      <img src="/image/default-avatar.png" class="child">
    </div>
  </div>
  <div>
    <form class="form" name="form_login" novalidate>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <md-input-container class="md-block">
        <label>Username</label>
        <input name="username" ng-model="loginForm.username" required>
        <div ng-messages="form_login.username.$error">
          <div ng-hide="!form_login.username.$error.required" ng-message="required" class="form-error">Username is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input name="password" type="password" ng-model="loginForm.password" required>
        <div ng-messages="form_login.password.$error" >
        <div ng-hide="!form_login.password.$error.required" ng-message="required">Password is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
          <label>Remember me:</label>
          <md-switch aria-label="Switch 1" class="remember"></md-switch>
        </md-input-container>

      <md-button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-form" ng-disabled="form_login.$invalid" ng-click="login()">Sign in</md-button>
    </form>
  </div>
</div>

<div class="link_register">
  <span>Don't have an account?</span>
  <a ng-click="showRegister()">Create one!</a>
</div>

