<!--<div class="mdl-layout__content">-->
    <!--<div class="mdl-grid mdl-layout&#45;&#45;fixed-header navbar">-->
    <!--<header class="mdl-layout__header">-->
      <!--<div class="mdl-layout__header-row">-->
        <!--&lt;!&ndash; Title &ndash;&gt;-->

        <!--&lt;!&ndash; Add spacer, to align navigation to the right &ndash;&gt;-->
        <!--<div class="mdl-layout-spacer col-lg-3 col-md-3 col-xs-3"> <span class="mdl-layout-title">ImageBoard</span></div>-->
        <!--&lt;!&ndash; Navigation. We hide it in small screens. &ndash;&gt;-->
        <!--<nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only row">-->
          <!--<a class="mdl-navigation__link col-lg-3 col-md-3" ui-sref="user.boards">Boards</a>-->
          <!--<a class="mdl-navigation__link col-lg-3 col-md-3" ui-sref="user.profile">Profile</a>-->
          <!--<a class="mdl-navigation__link col-lg-3 col-md-3" ng-if="user_list" ui-sref="user.list">Users</a>-->
          <!--<a ng-controller="logoutController" class="ng-scope" ng-click="logout()" class="mdl-navigation__link" href="">Logout</a>-->
        <!--</nav>-->
      <!--</div>-->
    <!--</header>-->
    <!--</div>-->
    <!--<main class="mdl-grid">-->
        <!--<div class="" ui-view></div>-->
    <!--</main>-->
<!--</div>-->
<header class="mdl-layout__header--scroll">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>ImageBoard</h3>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-js-ripple-effect">
        <a ui-sref="user.boards" class="mdl-layout__tab is-active">Boards</a>
        <a ui-sref="user.profile" class="mdl-layout__tab">Profile</a>
        <a ng-if="user_list" ui-sref="user.list" class="mdl-layout__tab">Users</a>
        <a ng-controller="logoutController" class="mdl-layout__tab" ng-click="logout()" href="">Logout</a>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
</header>
<main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" ui-view>
        <div class="wrap_content"></div>
    </div>
</main>