<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header navbar">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">ImageBoard</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/boards">Boards</a>
        <a class="mdl-navigation__link" href="/profile">Profile</a>
        <a ng-controller="logoutController" class="ng-scope" ng-click="logout()" class="mdl-navigation__link" href="">Logout</a>
      </nav>
    </div>
  </header>
</div>
<main class="mdl-layout__content">
	<div class="page-content" ui-view></div>
</main>