<div class="wrap-post">
    <div class="post {{post.class}}" ng-repeat="post in posts">
        <div>
            <div class="panel-post" ng-if="changePost.indexOf(post._id) > -1 || userRole === 'admin'" ng-controller="deletePostController">
                 <md-button class="edit-post" ng-click="editPost(post._id)">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
                <md-button ng-click="deletePost(post._id)">
                    <md-icon class="material-icons">clear</md-icon>
                </md-button>
            </div>
            <div class="post-image" ng-switch="post.type_file.split('/')[0]">
                <img ng-switch-when="image" src="{{post.file}}">
                <div ng-switch-when="video">
                    <video width="320" height="240"  controls>
                        <source src="{{post.file}}" type="{{post.type_file}}">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div ng-switch-when="audio">
                    <audio controls>
                        <source src="{{post.file}}" type="{{post.type_file}}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
            <div class="description">
                <span>
                   {{post.caption}}
                </span>
            </div>
            <div class="post-action">
                <div class="likes" ng-controller="likeController">
                    <progress value="{{Math.round(100/(post.user_like.length + post.user_dislike.length) * post.user_like.length)}}" max="100"></progress>
                    <div>
                        <md-button ng-click="like(post._id)">
                            <md-icon class="material-icons">thumb_up</md-icon>
                            <span>{{ post.user_like.length }}</span>
                        </md-button>
                        <md-button ng-click="dislike(post._id)">
                            <md-icon class="material-icons">thumb_down</md-icon>
                            <span>{{ post.user_dislike.length }}</span>
                        </md-button>
                    </div>
                </div>
                <md-button class="md-fab md-mini" ng-click="getComments(post._id)">
                    <md-icon class="material-icons">keyboard_arrow_down</md-icon>
                </md-button>
                <md-button class="md-fab add-comment" arial-label="Add" ng-click="addPostForm =! addPostForm">
                    <md-icon class="material-icons chat-bubble">chat_bubble</md-icon>
                </md-button>
            </div>
        </div>

        <div ng-controller="addPostController" class="add-post" ng-show="addPostForm">
            <div ng-show="error" class="alert alert-danger login-error">{{errorMessage}}</div>
            <h3 id="reply-title" class="comment-reply-title">Add post</h3>
            <form name="add_post" novalidate>
                <div layout layout-sm="column" class="wrap-textarea">
                    <md-input-container flex>
                        <label>Caption</label>
                        <textarea md-maxlength="150" rows="3" md-select-on-focus="" ng-model="customer.caption" name="caption" placeholder="Caption (required)" required></textarea>
                    </md-input-container>
                </div>
                <div class="file_input">
                    <label spinner-start-active="true" ng-click="startSpin()" class="mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">file_upload</i>
                        <md-input-container class="none">
                            <input id="file_input_file"  type="file" file-model="customer.file"/>
                        </md-input-container>
                    </label>
                    <md-button ng-click="uploadFile(post._id, posts)" class="md-accent md-raised save-btn" ng-disabled="add_post.$invalid">Save</md-button>
                </div>
            </form>
        </div>
    </div>
    <!--<div class="md-grid">-->
        <!--<div ng-controller="addPostController" class="add-post mdl-cell mdl-cell&#45;&#45;12-col mdl-cell&#45;&#45;12-col-tablet mdl-cell&#45;&#45;12-col-phone">-->
            <!--<div ng-show="error" class="alert alert-danger login-error">{{errorMessage}}</div>-->
            <!--<h3 id="reply-title" class="comment-reply-title">Add post</h3>-->
            <!--<form name="add_post" novalidate>-->
                <!--<div layout layout-sm="column" class="wrap-textarea">-->
                    <!--<md-input-container flex>-->
                        <!--<label>Caption</label>-->
                        <!--<textarea md-maxlength="150" rows="3" md-select-on-focus="" ng-model="customer.caption" name="caption" placeholder="Caption (required)" required></textarea>-->
                    <!--</md-input-container>-->
                <!--</div>-->
                <!--<div class="file_input">-->
                    <!--<label spinner-start-active="true" ng-click="startSpin()" class="mdl-button&#45;&#45;fab mdl-button&#45;&#45;mini-fab mdl-js-ripple-effect mdl-button&#45;&#45;colored">-->
                        <!--<i class="material-icons">file_upload</i>-->
                        <!--<md-input-container class="none">-->
                            <!--<input id="file_input_file"  type="file" file-model="customer.file"/>-->
                        <!--</md-input-container>-->
                    <!--</label>-->
                    <!--<md-button ng-click="uploadFile(null, posts)" class="md-accent md-raised save-btn" ng-disabled="add_post.$invalid">Save</md-button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>