<div class="board" ng-init="posts()">
    <div class="post" ng-repeat="post in posts">
        <md-button class="edit-post" ng-click="editPost(post._id)">
            <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <!--<div>-->
        <div class="content parent" ng-switch="post.type_file.split('/')[0]">
            <div ng-controller="deletePostController">
                <md-button ng-click="deletePost(post._id)">
                    <md-icon class="material-icons">clear</md-icon>
                </md-button>
            </div>
            <img ng-switch-when="image" src="{{post.file}}">
            <div ng-switch-when="video">
                <video width="320" height="240"  controls>
                    <source src="{{post.file}}" type="{{post.type_file}}">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div ng-switch-when="audio">
                <audio controls>
                    <source src="{{post.file}}" type="{{post.type_file}}">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
        <div class="description">
            <span>
               {{post.caption}}
            </span>
            <md-button class="md-fab add-comment" arial-label="Add" ng-click="showAdd(post._id)">
                <md-icon class="material-icons chat-bubble">chat_bubble</md-icon>
            </md-button>
        </div>
        <div class="evalution"></div>
        <!--</div>-->
        <div class="comment"  ng-repeat="comment in comments | filter: post._id track by $index">
            <md-button class="edit-post" ng-click="editPost(comment._id)">
                <md-icon class="material-icons">mode_edit</md-icon>
            </md-button>
            <div class="content parent" ng-switch="comment.type_file.split('/')[0]">
                <div ng-controller="deletePostController">
                    <md-button ng-click="deletePost(comment._id)">
                        <md-icon class="material-icons">clear</md-icon>
                    </md-button>
                </div>
                <img ng-switch-when="image" src="{{comment.file}}">
                <div ng-switch-when="video">
                    <video width="320" height="240"  controls>
                        <source src="{{comment.file}}" type="{{comment.type_file}}">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div ng-switch-when="audio">
                    <audio controls>
                        <source src="{{comment.file}}" type="{{comment.type_file}}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
            <div class="description">
                <span>
                   {{comment.caption}}
                </span>
                <md-button class="md-fab add-comment" arial-label="Add" ng-click="showAdd(comment._id)">
                    <md-icon class="material-icons chat-bubble">chat_bubble</md-icon>
                </md-button>
            </div>
            <button ng-click="getComments(comment._id)">click</button>
            {{c_comments}}
            <!-- <div id="space-for-buttons"></div> -->
                <!-- <div ng-show="showme" ng-repeat="c_comment in c_comments">
                    {{c_comments}}
                </div> -->
        </div>
        {{c_comments}}
    </div>
</div>