<div class="profile" ng-controller="profileController">
	<div class="avatar">
		    <!--<img src="../image/default-avatar.png">-->
		<img ng-src="{{image}}">
			<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored upload">
				<input type="file" nv-file-select uploader="uploader">
			</button>
			<div ng-repeat="item in uploader.queue">
				<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 205, width: 278 }"></div>
			</div>
	</div>
        <div class="info">
        	<form class="form-horizontal" ng-show="formProfile" ng-submit="editProfile" name="form_profile">

        		<md-input-container class="md-block">
				  <label>Name</label>
				  <input name="name" ng-model="name"> 
				  <!-- <div ng-messages="form_profile.name.$error"> 
				    <div ng-hide="!form_profile.name.$error.required" ng-message="required" class="form-error">Username is required.</div>
				  </div> -->
				</md-input-container>

				<md-input-container class="md-block">
				  <label>Email</label>
				  <input name="email" ng-model="email" required> 
				  <div ng-messages="form_profile.email.$error"> 
				    <div ng-hide="!form_profile.email.$error.required" ng-message="required" class="form-error">Username is required.</div>
				  </div>
				</md-input-container>

				<md-input-container class="md-block">
				  <label>Description</label>
				  <input name="description" ng-model="description"> 
				<!--   <div ng-messages="form_profile.description.$error"> 
				    <div ng-hide="!form_profile.description.$error.required" ng-message="required" class="form-error">Username is required.</div>
				  </div> -->
				</md-input-container>
			</form>

	        <form class="form-horizontal" ng-hide="formProfile">
	        	<div class="form-group row col-sm-12">
		        	<label>Name </label>
			    	<span>{{ name }}</span>
	        	</div>
		        <div class="form-group row col-sm-12">
		        	<label>Email </label>
					<span>{{ email }}</span>
		        </div>
		        <div class="form-group row col-sm-12">
		        	<label>Description </label>
				    <span>{{ description }}</span>
	        	</div>
	        </form>
        </div>
    	<a href="" class="edit_profile" ng-click="showForm()">
    		<img src="../image/edit_profile.png" >
    	</a>
</div>
