<div class="profile" ng-controller="profileController" ng-init="profile()">
        <div class="avatar">
		    <img src="../image/default-avatar.png">
		    <a href=""><img src="../image/pencil_image.png"></a>
        </div>
        
        <div class="info">
	        <form class="form-horizontal">
	        	<div class="form-group">
		        	<label for="" class="col-sm-3">Name</label>
				    <div class="col-sm-9">{{myWelcome}}
				      <input type="text" class="form-control" id="">
				    </div>
	        	</div>
		        <div class="form-group">
		        	<label for="" class="col-sm-3">Email</label>
					<div class="col-sm-9">
					    <input type="email" class="form-control" id="">
					</div>
		        </div>
		        <div class="form-group">
		        	<label for="" class="col-sm-3">Description</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="">
				    </div>
	        	</div>      	
	        </form>
        </div>
    	<a href="/" class="edit_profile">
    		<img src="../image/edit_profile.png">
    	</a>	
</div>