extends layout

block content
    .container
        h1 Register Page
        p.lead Say something worthwhile here.
        br
        form(role='form', action="/register",method="post", enctype="multipart/form-data", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="username", placeholder='Enter Username')
            .form-group
                input.form-control(type='email', name="email", placeholder='Email')
            .form-group
                input.form-control(type='text', name="name", placeholder='FirstName')
            .form-group
                input(type="file", multiple, name="image")
            .form-group
                input.form-control(type='text', name="description", placeholder='Description')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            button.btn.btn-default(type='submit') Submit
        &nbsp;
    a(href='/')
        button.btn.btn-primary(type="button") Cancel