.boards {

	.board {
		width: 295px;
		height: 195px;
		border: 1px solid black;
		border-radius: 10px;
		display: inline-block;
		margin-left: 10px;

		.board_content {
			width: 273px;
			height: 170px;
			margin: 10px;
			background-color: #F0F8FF;

			h4 {
				margin: 0px;
			}
		}
	}

	form {
		margin-left: 290px;
		width: 450px;
	}

	.list {
		width: 930px;
		margin-left: 20px;

		a {
			text-decoration: none;
			color: rgb(103, 58, 183);
		}
	}

	.add-board {
		float: right;
		margin-right: 0px;
		margin-top: 20px;
	}
}

.board {
	width: 960px;
}

.board-logo {
	//width: 468px;
	margin: auto;
	border: 1px solid black;
	margin-bottom: 20px;
	h4 {
		margin: 20px 80px;
		text-align: center;
	}
}

.paginate {
	float:right;
	margin-right: 100px;
	.pagination>.active>a {
		background-color: rgb(255,64,129);
	}
}