$screen-sm-min: 768px;

header{
  //background-image: url('/image/l1sqxjxbgd0-gabriel-santiago.jpg');
  //background-size: cover;
  flex-shrink: 0;
  height: 40vh;
  @media screen and (min-width: $screen-sm-min) {
    background-position-y: -50px;
  }
}

.section {
  margin: 20px;
}

main {
  margin-top: -10vh;
  flex-shrink: 0;
}

body {
  background-image: url('/image/l1sqxjxbgd0-gabriel-santiago.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  //background-color: #0a2d3e;
}