$border: 1px solid #756575;

.login {
	position:absolute;
	width: 700px;
	height: auto;
	border: $border;
	border-radius: 10px;

  	.login-error {
	  width: 83%;
	}

	form {
	    margin-top: 45px;
	    margin-left: 96px;
	    height: 100%;


		input {
			width: 500px;
		}

		.remember {
			margin-left: 150px;
			margin-top: 0px;
		}
	}
}

.link_register {
	position: absolute;
	top: 85%;
	left: 45%;
}

.form_header {
		// background-color: #823D82;
		height: 33px;
		border-bottom: $border;
		border-radius: 10px;

		.logo {
			height: 100px;
			width: 100px;
			border: $border;
			border-radius: 50px;
			background-color: #fff;

			img {
			height: 60px;
			}
		}
	}

.btn-form {
	width: 500px;
	margin-top: 30px;
	margin-bottom: 10px;
}

