.post {
  width: 760px;
  height: auto;
  margin: 50px auto;
  position: relative;

  a {
    text-decoration: none;
    color: black;
  }

  .content {
    background-color: #F0F8FF;

    img {
      max-height: 274px;
      max-width: 747px;
      height: auto;
      width: auto;
      margin: 2% 30%;
    }

    video {
      margin: 2% 30%;
    }

    audio {
      margin: 2% 30%;
    }
  }

  .description {
    padding: 5px;
    height: 50px;
    border: 1px solid black;
  }
  
  .add-comment {
    float: right;
    margin: -18px;
    height: 71px;
    width: 71px;
  }

  .comment {
    margin-left: 100px;
  }
}

.delete-post {
  position: absolute;
  top: 5px;
  z-index: 20;
}