.post {
  width: 760px;
  height: auto;
  margin: 70px auto;
  position: relative;

  a {
    text-decoration: none;
    color: black;
  }

  .panel-post {
    background-color: rgb(103,58,183);
      .material-icons {
        color:white;
      }
  }

  .content {
    background-color: #F0F8FF;

    img {
      max-height: 274px;
      max-width: 747px;
      height: auto;
      width: auto;
      margin: 2% 30%;
    }

    video {
      margin: 2% 30%;
    }

    audio {
      margin: 2% 30%;
    }
  }

  .description {
    padding: 5px;
    height: 50px;
    border: 1px solid black;
  }
  
  .add-comment {
    float: right;
    margin: -18px;
    height: 71px;
    width: 71px;
  }

  .likes {
    margin-top: 10px;
    display: inline-block;
    float: left;

    button {
      margin: 0 4px;
      padding: 0;
    }

    progress {
      width: 198px;
      height: 10px;
      border: 1px solid black;
      border-radius: 5px;
    }

    progress::-webkit-progress-value {
      background-color: rgb(255,64,129);
    }

    progress::-webkit-progress-bar {
      background-color: #fff;
    }
  }
}

.comment {
    width: 80% - 10%;
  }

.add-post {
  border: 1px solid #673ab7;
  margin: 90px auto;
  width: 760px;
  padding: 30px 100px;
    .wrap-textarea {
      width: 80%;
      float: left;
    }
  button {
    background-color: rgb(255,64,129);
  }
}

.delete-post {
  position: absolute;
  top: 5px;
  z-index: 20;
}

.edit-post {
  position: absolute;
  right: 0;
  z-index: 100;

    input {
      height: 36px;
      width: 76px;
      opacity: 0;
    }
}

.file_input_div {
  margin: auto;
  width: 250px;
  height: 40px;
}

.file_input {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}

.none {
  display: none;
}

.no-border {
  border: none!important;
}

.spinner {
  position: relative;
  left: 40%;
  top: 25px;
  z-index: 10;
}