$border: 1px solid #756575;

.signUp {
	position: absolute;
	top: 12%;
	left: 30%;
	height: auto;
	width: 700px;
	border: $border;
	border-radius: 10px;

	form {
	    margin-top: 45px;
	    margin-left: 96px;
	    height: 100%;

	    label {
	    	font-size: 20px;
	    }

	    input {
	    	width: 500px;
	    }
	}
}

.captcha {
	height: 92px;
	width: 502px;
	background: rgba(206, 153, 255, 0.05);
}